name: Run script

on:
  workflow_dispatch:
  schedule:
    # Every Sunday around 12pm
    - cron: "0 17 * * 0"

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Install Node.js v12
        uses: actions/setup-node@v2
        with:
          node-version: "12"

      - name: Install dependencies
        run: yarn

      - name: Run Script
        run: yarn start
        env:
          TWITTER_CONSUMER_KEY: ${{ secrets.TWITTER_CONSUMER_KEY}}
          TWITTER_CONSUMER_SECRET: ${{ secrets.TWITTER_CONSUMER_SECRET}}
          TWITTER_ACCESS_TOKEN_KEY: ${{ secrets.TWITTER_ACCESS_TOKEN_KEY}}
          TWITTER_ACCESS_TOKEN_SECRET: ${{ secrets.TWITTER_ACCESS_TOKEN_SECRET}}
          STRIPE_API_KEY: ${{ secrets.STRIPE_API_KEY}}
          GOAL: ${{ secrets.GOAL}}
